# UTKML Twitter Spam Detection Competition Dataset

In [1]:
dataset = "UTKML Twitter Spam Detection Competition Dataset"

In [2]:
import warnings 
warnings.filterwarnings('ignore')

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv(f'../Datasets/Raw/{dataset}/data.csv')

In [5]:
data.sample(5)

,Tweet,following,followers,actions,is_retweet,location,Type,Unnamed: 7
1191,Cooking from scratch is good for families & pu...,0.0,0.0,0.0,0.0,bts' heart,Quality,NaN
5336,"3 in 1 trip...Milan, Italy to Oman, Singapore ...",0.0,158000.0,NaN,0.0,NaN,Quality,NaN
8916,A new study is examining cannabis use during p...,0.0,0.0,15.0,0.0,"Denver, CO",Quality,NaN
6538,Baby Dies After Being Burned in Scalding Bath ...,7961.0,17641.0,38904.0,0.0,United States,Spam,NaN
10747,You absolutely do. And don't think the cops wi...,778.0,912.0,6080.0,0.0,United States,Spam,NaN

In [6]:
data.shape

(14899, 8)

In [7]:
data.describe()

          following     followers        actions    is_retweet
count  1.474100e+04  1.488200e+04   11462.000000  14898.000000
mean   4.696292e+03  3.534459e+05    6991.949311      0.249765
std    3.189653e+04  3.890453e+06   15803.881463      0.432892
min    0.000000e+00  0.000000e+00       0.000000      0.000000
25%    0.000000e+00  0.000000e+00      13.000000      0.000000
50%    7.400000e+01  8.030000e+02    1495.500000      0.000000
75%    3.025000e+03  1.304975e+04    6692.500000      0.000000
max    1.600000e+06  1.050000e+08  165599.000000      1.000000

In [8]:
data.isna().sum()

Tweet             0
following       158
followers        17
actions        3437
is_retweet        1
location       2011
Type              0
Unnamed: 7    14897
dtype: int64

In [9]:
data.nunique()

Tweet         14682
following      4574
followers      5483
actions        6063
is_retweet        2
location       3437
Type              3
Unnamed: 7        2
dtype: int64

In [10]:
data.drop(columns=['Unnamed: 7'], inplace=True)

In [11]:
data['TEXT'] = None

In [12]:
data = data.drop(columns=['following','followers','actions','is_retweet','location'])

In [13]:
data.nunique()

Tweet    14682
Type         3
TEXT         0
dtype: int64

In [14]:
print(data['Type'].unique())

['Quality' 'Spam' 'South Dakota']

In [15]:
value_to_filter = 'South Dakota'
data = data[data['Type'] != value_to_filter]

In [16]:
data.nunique()

Tweet    14680
Type         2
TEXT         0
dtype: int64

In [17]:
print(data['Type'].unique())

['Quality' 'Spam']

In [18]:
from Preprocessor import preprocess

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\krish\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\krish\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\krish\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [19]:
field = "Tweet"

In [20]:
for i in range(len(data[field])):
    data['TEXT'][i] = preprocess(data[field][i])

KeyError: 7552

In [ ]:
data.sample(5)

                                                   Tweet     Type  TEXT
13118  #andris FLASHBACK : Bill Clinton Made Same Fir...     Spam  None
5286   Should Louisiana raise pay? Minimum wage hike ...     Spam  None
6640   First Black Owned Pharmacy Welcomed In Baconto...     Spam  None
3900   Harvey Price just dropped the C-bomb on Loose ...  Quality  None
3710   #news Authorities: Fire at Southern California...     Spam  None

In [ ]:
data.isna().sum()

Tweet    0
Type     0
TEXT     0
dtype: int64

In [ ]:
data = data.drop(columns=['Tweet'])

In [ ]:
data.rename(columns = {'Type':'CLASS'}, inplace = True)

In [ ]:
data.sample(5)

In [ ]:
data.to_csv(f'../Datasets/Preprocessed/{dataset}/data.csv')

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
from wordcloud import WordCloud

In [ ]:
data.groupby('CLASS')['CLASS'].count().plot.bar()
plt.title('CLASS DISTRIBUTION')
plt.show()

In [ ]:
#true_type_font_path = 'path_to_true_type_font.ttf'
#for value in data['CLASS'].unique():
#   text = ' '.join(x for x in data[data['CLASS'] == value]['TEXT'])
#   wordcloud = WordCloud(background_color="white", font_path=true_type_font_path).generate(text)
#   plt.imshow(wordcloud, interpolation='bilinear')
#   plt.title(f'WORD CLOUD CLASS: {value}')
#   plt.show()